<div class="container-fluid">
    <div class="row">
        <div class="col-3">


            <!-- <div class="logo">

                <img src="../../../assets/images/Untitled-11.png" class="rounded" width="200" height="200">
            </div> -->


        </div>
        <div class="col-9">
            <br>
            <div class="headline">
                <div class="container" id="txtTopic">
                    <h1 style="text-align: left;">book store house</h1>
                </div>
            </div>
        </div>

    </div>

</div>



