<body>
    <app-admin-header></app-admin-header>
  <div class="container-fluid" id="main">

    <div class="row">
      <div class="col-12">
        <div class="container" id="txtTopic">
          <h1 style="text-align: center;">Add book</h1>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- <form class="secondContainer" id="signInButton"> -->
      <div class="col-3" id="imageSection">
      
        <div class="image">
          <img [src]="book.book_pic ? book.book_pic : '../../../../assets/images/images.png'" class="img-thumbnail"  >
        </div>
        
        <input id="fileInput" type='file' (change)="onSelectFile($event)"  >
      
        <button *ngIf="book.book_pic" (click)="delete()">delete</button>

      </div>


      <div class="col-7">
        <form [formGroup]="addBookForm">
          <div class="form-group">
            <label>Book Title:</label>
            <input type="text" class="form-control" id="inputTitle" formControlName="title" [(ngModel)]="book.title">
            <div class="error-message"
            *ngIf="addBookForm.controls.title.errors && (addBookForm.controls.title.dirty||addBookForm.controls.title.touched)">
            <p class="error-msg" *ngIf="addBookForm.controls.title.errors.required" style="color:red">Book title required</p>                
          </div>
          </div>
          <div class="form-group">
            <label>ISBN:</label>
            <input type="text" class="form-control" id="inputISBN" formControlName="ISBN" [(ngModel)]="book.ISBN">
          </div>
          <div class="form-group">
            <label>Author:</label>
            <input type="text" class="form-control" id="inputAuthor" formControlName="author" [(ngModel)]="book.author">
          </div>


          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Buying Price:</label>
                <input type="number" class="form-control" id="inputBuyingPrice" formControlName="buying_price"
                  [(ngModel)]="book.buying_price">
                  <div class="error-message"
                  *ngIf="addBookForm.controls.buying_price.errors && (addBookForm.controls.buying_price.dirty||addBookForm.controls.buying_price.touched)">
                  <p class="error-msg" *ngIf="addBookForm.controls.buying_price.errors.required" style="color:red">Buying price is required</p>                
                </div>
              </div>

            </div>


            <div class="col-6">
              <div class="form-group">
                <label>Selling Price:</label>
                <input type="number" class="form-control" id="inputSelingPrice" formControlName="selling_price"
                  [(ngModel)]="book.selling_price">
                  <div class="error-message"
                  *ngIf="addBookForm.controls.selling_price.errors && (addBookForm.controls.selling_price.dirty||addBookForm.controls.selling_price.touched)">
                  <p class="error-msg" *ngIf="addBookForm.controls.selling_price.errors.required" style="color:red">Selling price is required</p>                
                </div>
              </div>
            </div>

         </div>


          
          <div class="form-group">
            <label>Quantity:</label>
            <input type="number" class="form-control" id="inputQuantity" formControlName="quantity"
              [(ngModel)]="book.quantity">
              <div class="error-message"
              *ngIf="addBookForm.controls.quantity.errors && (addBookForm.controls.quantity.dirty||addBookForm.controls.quantity.touched)">
              <p class="error-msg" *ngIf="addBookForm.controls.quantity.errors.required" style="color:red">Book quantity is required</p>                
            </div>
          </div>


          <div class="form-group">
            <label>Category:</label>
            <select  class="custom-select mb-3"  id="inputCategory"  [(ngModel)]="book.category" formControlName="category" >
              <!-- <option selected>Custom Select Menu</option> -->
              <option *ngFor="let category of categories" [ngValue]="category" >{{category}}</option>
    
            </select>
            <!-- <input type="text" class="form-control" id="inputCategory" formControlName="category"
              [(ngModel)]="book.category"> -->
          </div>



          <div class="form-group">
            <label>Discount:</label>
            <input type="number" class="form-control" id="inputDiscount" formControlName="discount"
              [(ngModel)]="book.discount">
          </div>
          <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control"  id="inputDescription" formControlName="description"
              [(ngModel)]="book.description">

          </div>


        </form>
      </div>
      <div class="col-2" >
        <form class="secondContainer" id="Button">
        <a class="btn btn-outline-success" id="button" (click)="add_book()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          ADD BOOK
        </a>
        </form>
      </div>





    </div>






  </div>




</body>
<app-footer></app-footer>