<div class="container-fluid">
    <div class="headline">
      <h1>follow us on</h1>
    </div>
    <div class="social-buttons">        
    <!-- facebook  Button -->
            <a href="http://www.facebook.com" target="blank" class="social-margin"> 
              <div class="social-icon facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i> 
              </div>
            </a>
            <!-- pinterest Button -->
            <a href="https://pinterest.com/" target="blank"  class="social-margin">
              <div class="social-icon pinterest">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </div>
            </a>
            <!-- LinkedIn Button -->
            <a href="http://linkedin.com/" class="social-margin" target="blank">
              <div class="social-icon linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div> 
            </a>
          <!-- Github Button -->
            <a href="https://github.com/"  target="blank"  class="social-margin">
              <div class="social-icon github">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              </div>
            </a>
            <!-- Youtube Button -->
            <a href="http://youtube.com/" target="blank"  class="social-margin">
              <div class="social-icon youtube">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </div> 
            </a>
            <!-- Behance Button -->
            <a href="https://behance.com/"  target="blank" class="social-margin">
              <div class="social-icon behance">
                <i class="fa fa-behance" aria-hidden="true"></i>
              </div>
            </a>
            <!-- Soundcloud Button -->
            <a href="http://soundcloud.com/" target="blank" class="social-margin">
              <div class="social-icon soundcloud">
                <i class="fa fa-soundcloud" aria-hidden="true"></i>
              </div> 
            </a>
      <!-- TwitterButton -->
            <a href="http://twitter.com/" target="blank" class="social-margin">
              <div class="social-icon twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div> 
            </a>
    </div>
    <div class="places">
        <ul>
            <li>
                <p> Online Book Store House.
                </p>
            </li>
            <li>
                <p>Tel-phone:-071 7725158 (Madhushani)
                  <br>
                  Email:-madhushani@gmail.com
                </p>
            </li>
        </ul>
    </div>
    </div>