#outline{
    border: solid 1px black;
    margin-top: 100px;

}
#profilePic{
    color:black;
    padding-top: 40px;
    text-align: center;
}


#profileForm{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 10px;
   
}

p {
    font-family: Lato;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  img {
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  
  .select-profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .message {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all 1s;
    opacity: 0;
  }
  
  .image-container:hover .message {
    transform: translate(-50%, -50%);
    opacity: 1;
  }