body {
  background-size: cover;
  height: 940px;
  width: 1490px;
  margin: 0;
  padding: 0;
  background-image: url("../../../../assets/images/profile.jpg");
  font-family: sans-serif;
  overflow: hidden;
}

#profileForm {
  padding-top: 0px;
  padding-left: 300px;
  padding-right: 50px;
}

#fileInput {
  padding-top: 10px;
  padding-left: 20px;
  height: 50px;
  width: 150px;
}

.image-container {
  padding-top: 120px;
  padding-left: 100px;
  padding-right: 20px;
}

img {
  border: 5px solid #3f3a3a;
  height: 250px;
  width: 250px;
}

.select-profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#address {
  height: 80px;
}

#del {
  padding-top: 20px;
  padding-left: 20px;
  margin: 10px;
}

#button {
  border: 2px solid #ffffff;
  border-radius: 10px;
}

input[type=file] {
  color: transparent;
}

#submitButton {
  padding-top: 20px;
  padding-left: 1110px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

a {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  color: #084e43;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: white;
  background: #005f57;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #11daa7, 0 0 40px #11daa7, 0 0 80px #11daa7;
          box-shadow: 0 0 10px #11daa7, 0 0 40px #11daa7, 0 0 80px #11daa7;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#005f57));
  background: linear-gradient(90deg, transparent, #005f57);
}

a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#005f57));
  background: linear-gradient(270deg, transparent, #005f57);
}

a:hover span:nth-child(3) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#005f57));
  background: linear-gradient(180deg, transparent, #005f57);
}

a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#005f57));
  background: linear-gradient(360deg, transparent, #005f57);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
/*# sourceMappingURL=profile.component.css.map */