<body>
    <div class="container-fluid" id="main">

        <div class="row">
            <div class="col-12">
                <div class="container" id="txtTopic">
                    <h1 style="text-align: center;">Profile</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3" id="imageSection">

                <div class="image-container">
                    <img [src]="user.profile_pic ? user.profile_pic :'../../../../assets/images/profile2.png'">
                                     <br />
                    <input id="fileInput" class="form-control" type='file' (change)="onSelectFile($event)" />
                    <button id="del" *ngIf="user.profile_pic" class="btn btn-outline-success" (click)="delete()">delete</button>

                </div>

            </div>


            <div class="col-9">

                <form [formGroup]="profileForm" class="container" id="profileForm">

                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="User mane"
                                formControlName="name" [(ngModel)]="user.name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                formControlName="email" [(ngModel)]="user.email" required readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" placeholder="address"
                                formControlName="address" [(ngModel)]="user.address" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTelephone" class="col-sm-2 col-form-label">Telephone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Telephone" formControlName="tel"
                                placeholder="Telephone" [(ngModel)]="user.tel" />
                        </div>
                    </div>


                </form>

                <form class="secondContainer" id="submitButton">
                    <a href="#" class="btn btn-outline-success" id="button" (click)="update()">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        save
                    </a>
                </form>
            </div>

        </div>
    </div>

</body>

