@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html{
  margin:0;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}
.container-fluid{
  padding-top:30px;
  min-height:100%;
  text-align:center;
  background: linear-gradient(0deg, rgba(34,195,104,1) 0%, rgb(34, 31, 31) 100%);
}

.headline{
  text-align:center;
 
}
.headline  h1{

    color:#ffffff;
    text-transform: uppercase;
     font-size: 70px;
     font-family: "Times New Roman", Times, serif;}
  
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
 
  //background-image: url("../../../../assets/images/y.png") ;
 
}
div.a {
    text-align: center;
    color: rgb(255, 255, 255) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
  a.active {
    background-color: dodgerblue;
    color: white;
  }
  //search with dropown 
.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}
.book-list{
  max-height: 300px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

div.offer{
  text-align: center;
  color: rgb(2, 1, 1) ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
