body{
    background-size: cover;
    height: 940px;
    width: 1490px;
    margin:0;
    padding: 0;
    background-image: url('../../../../assets/images/profile.jpg');
    font-family: sans-serif;
    overflow: hidden;
  }
  
  #main{
    padding-top: 40px;
  }