#outline{
    border: solid 1px black;
    margin-top: 100px;

}
#signUpTxt{
    color:black;
}

#signUpTxt{
    padding-top: 40px;
    text-align: center;
}

#signUpForm{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 10px;
   
}
#belowLink a{
    text-decoration: none;
    color: black;
    padding-left: 185px;
    padding-right: 200px;
    padding-bottom: 20px;
}

#belowLink a:hover{
color: red;

}