<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>



<div section="container" id="outline">
    <div class="container" id="signUpTxt">
        <h3>W E L C O M E </h3>
        
    </div>


    <form [formGroup]= "signUpForm"class="container" id="signUpForm">
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputUsername" formControlName="name"  [(ngModel)]="user.name" placeholder="Username" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail" formControlName="email"  [(ngModel)]="user.email" placeholder="Email" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword" formControlName="pwd"  [(ngModel)]="user.pwd" placeholder="Password" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRePassword" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputRePassword" formControlName="repwd"  [(ngModel)]="rePwd" placeholder="Confirm Password" />
            </div>
        </div>


    </form>


     
    <form class="secondContainer" id="signUpButton">
        <a href="#"
        class="btn btn-outline-success" id="button" (click)='register()'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign Up
    </a>
    </form>


    <div class="container" id="belowLink">
        <a href="#">Already you have an account.</a>
    </div>
</div>

</body>
