<body>
        <app-admin-header></app-admin-header>
    <div class="row">

        <div class="col-12">
            <div class="a">
                <h1>
                    View orders
                </h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">

            <div class="container-fluid">
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Email</th>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Profit</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of Orders;let i =index">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.profit}}</td>
                            <td>{{item.date_time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>


    </div>

</body>
<app-footer></app-footer>