
#outline{
    border: solid 1px black;
    margin-top: 100px;

}
#signUpTxt{
    color:black;
}

#signInTxt{
    padding-top: 40px;
    text-align: center;
}

#signInForm{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 10px;
   
}
