<body>
    
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>


    <section class="container" id="outline">

        <div class="container" id="signInTxt">
            <h3>W E L C O M E </h3>
            <!-- <i class="fas fa-user-plus"></i> -->
        </div>

        <form class="container" id="signInForm">

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Email" placeholder="Email" />
                </div>
            </div>

            <div class="form-group row"  >
                <label for="inputPassword" class="col-sm-2 col-form-label" >Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password"  placeholder="Password" />
                </div>
            </div>

<!--             
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-success" id="submitBtn"
                    style="justify-content: center; display: flex;">
                    Sign In
                </button>
            </div>
        </div> -->
         

        </form>

        
        <form class="secondContainer" id="signInButton">
            <a href="#"
            class="btn btn-outline-success" id="button" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign In
        </a>
        </form>


        
    </section>
</body>