<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                            <div class="logo">
                                    <img src="../../../assets/images/Untitled-11.png" class="rounded" width="200" height="200">
                                </div>
                    
                    </div>
                    <div class="col-9">
                        <div class="headline">
                            <div class="container" id="txtTopic">
                                <h1 style="text-align: center;">book store house</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-success" (click)='LOGOUT()'>LOG OUT</button>
                    </div>
                </div>
                <div class="row">
                    <a (click)='HOME()'>Home</a>
                    <a (click)='ADDBOOK()'>ADD BOOK</a>
                    <a (click)='ORDERS()'>ORDERS</a>
                    <a (click)='USERS()'>USERS</a>
                </div>
            </div>

        </div>


    </div>