<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-11  ">
            <div class="row">
                <div class="col-2">

                    <div class="logo">

                        <img src="../../../assets/images/Untitled-11.png" class="rounded" width="200" height="200">
                    </div>


                </div>
                <div class="col-10">
                    <br>
                    <div class="headline">
                        <div class="container" id="txtTopic">
                            <h1 style="text-align: center;">book store house</h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-6"> </div>
                <div class="col-4">
                    <div class="row">
                        <a (click)='HOME()'>HOME</a>
                        <a (click)='ADDBOOK()'>ADD BOOK</a>
                        <a (click)='ORDERS()'>ORDERS</a>
                        <a (click)='USERS()'>USERS</a>
                    </div>



                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success" style='background-color:rgb(14, 12, 12) ;'
                (click)='LOGOUT()'>LOG OUT</button>

                </div>



            </div>
        </div>

        <div class="col-1">

        
            
            
            

            
        </div>

        <br>
    </div>


</div>