#main{
    margin-top: 100px;
}

.book_img img{
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
 .add_cart_btn button{
    margin-top: 10px;
    width: 150px;
    margin-left: 350px;
}
#left_space{
    margin-top: 50px;
}
