<div class="col-sm-7">
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Date Time</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of pastPayments;let i =index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{item.date}}</td>
                <td>{{item.total_price}}</td>
            </tr>
        </tbody>
    </table>
</div>